name: Test PR
on: pull_request
jobs:
  test:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v3

      - name: Run tests
        run: xcodebuild -project nugu-ios.xcodeproj -scheme SampleApp CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO
